@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@*Bloque Presentación*@
@*@Html.Partial("_Presentacion")*@
<partial name="_Presentacion" model="Model.Proyectos" />


@*Bloque experiencias*@
@*@Html.Partial("_Experiencia")*@
<partial name="_Experiencia" model="Model.Proyectos" />


@*Listado de Proyectos*@
<partial name="_Proyectos" model="Model.Proyectos" />


@*<h4> Proyectos Realizados</h4>

<div class="row gy-3" >

    <div class="col-sm-4">
        <img class="img-fluid " alt="Proyecto Diunsa" src="~/images/pic-diunsa.png" />
         </div>
    <div class="col-sm-4">
            <img class="img-fluid" alt="Proyecto Jetstereo" src="~/images/pic-jetstereo.png" />
        </div>
    <div class="col-sm-4 ">
            <img class="img-fluid" alt="Proyecto La Prensa" src="~/images/pic-laprensa.png" />
        </div>
    </div>
*@
    
@*<h2>Ejemplo 1</h2>
<div>
    Guid Transitorio : <b style="color: red"> @Model.EjemploGuid1.Transitorio</b>
</div>
<div>
    Guid Transitorio : <b style="color: green"> @Model.EjemploGuid1.Delimitado</b>
</div>
<div>
    Guid Transitorio : <b style="color: blue"> @Model.EjemploGuid1.Unico</b>
</div>
<h2>Ejemplo 2</h2>
<div>
    Guid Transitorio : <b style="color: red"> @Model.EjemploGuid2.Transitorio</b>
</div>
<div>
    Guid Transitorio : <b style="color: green"> @Model.EjemploGuid2.Delimitado</b>
</div>
<div>
    Guid Transitorio : <b style="color: blue"> @Model.EjemploGuid2.Unico</b>
</div>*@